@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">@ViewData["Title"]</h4>
  <p>Please <strong>do not share</strong> any information used in this example, as it is for recruiting purposes only.</p>
  <hr>
  <p  class="mb-0">Marco Cisneros</p>
</div>
